생각보다 오버피팅이 잘 일어나는 듯 조심해야함!

# Data Set

In [2]:
import warnings
warnings.filterwarnings('ignore')

import koreanize_matplotlib

In [43]:
import pandas as pd

building_info = pd.read_csv('Data/building_info.csv')
building_info['태양광용량(kW)'] = building_info['태양광용량(kW)'].replace('-',0)
building_info['ESS저장용량(kWh)'] = building_info['ESS저장용량(kWh)'].replace('-',0)
building_info['PCS용량(kW)'] = building_info['PCS용량(kW)'].replace('-',0)
building_info

    건물번호  건물유형     연면적(m2)    냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0      1    호텔    82912.71    77586.00         0            0         0
1      2    상용    40658.90    30392.82         0            0         0
2      3    병원   560431.00   418992.00    278.58            0         0
3      4    호텔    41813.29    23715.71         0            0         0
4      5    학교   403749.39   248507.00   1983.05         1025       250
..   ...   ...         ...         ...       ...          ...       ...
95    96  건물기타  3260213.41  1956128.00         0            0         0
96    97  건물기타    42370.93     3975.52     81.38            0         0
97    98    호텔    99102.62    22097.00         0            0         0
98    99    상용   329867.95    13442.35     171.6            0         0
99   100    호텔   162070.24   152943.00         0            0         0

[100 rows x 7 columns]

In [58]:
train = pd.read_csv('Data/train.csv')
train = train.merge(building_info, on = '건물번호', how =  'left')
train

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
0,1_20240601 00,1,20240601 00,18.3,0.0,2.6,82.0,0.0,0.00,5794.80,호텔,82912.71,77586.0,0,0,0
1,1_20240601 01,1,20240601 01,18.3,0.0,2.7,82.0,0.0,0.00,5591.85,호텔,82912.71,77586.0,0,0,0
2,1_20240601 02,1,20240601 02,18.1,0.0,2.6,80.0,0.0,0.00,5338.17,호텔,82912.71,77586.0,0,0,0
3,1_20240601 03,1,20240601 03,18.0,0.0,2.6,81.0,0.0,0.00,4554.42,호텔,82912.71,77586.0,0,0,0
4,1_20240601 04,1,20240601 04,17.8,0.0,1.3,81.0,0.0,0.00,3602.25,호텔,82912.71,77586.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100_20240824 19,100,20240824 19,29.1,0.0,4.4,76.0,0.4,0.18,3276.00,호텔,162070.24,152943.0,0,0,0
203996,100_20240824 20,100,20240824 20,28.6,0.0,3.7,74.0,0.0,0.00,3197.52,호텔,162070.24,152943.0,0,0,0
203997,100_20240824 21,100,20240824 21,28.3,0.0,2.9,74.0,0.0,0.00,3006.60,호텔,162070.24,152943.0,0,0,0
203998,100_20240824 22,100,20240824 22,28.0,0.0,1.7,76.0,0.0,0.00,2649.72,호텔,162070.24,152943.0,0,0,0
203999,100_20240824 23,100,20240824 23,28.0,0.0,2.1,75.0,0.0,0.00,2929.32,호텔,162070.24,152943.0,0,0,0

In [59]:
test = pd.read_csv('Data/test.csv')
test = test.merge(building_info, on = '건물번호', how =  'left')
test

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
0,1_20240825 00,1,20240825 00,26.5,0.0,0.7,80.0,호텔,82912.71,77586.0,0,0,0
1,1_20240825 01,1,20240825 01,26.1,0.0,0.0,80.0,호텔,82912.71,77586.0,0,0,0
2,1_20240825 02,1,20240825 02,25.9,0.0,0.3,83.0,호텔,82912.71,77586.0,0,0,0
3,1_20240825 03,1,20240825 03,25.7,0.0,1.1,83.0,호텔,82912.71,77586.0,0,0,0
4,1_20240825 04,1,20240825 04,25.5,0.0,1.0,86.0,호텔,82912.71,77586.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100_20240831 19,100,20240831 19,27.1,0.0,2.7,68.0,호텔,162070.24,152943.0,0,0,0
16796,100_20240831 20,100,20240831 20,26.5,0.0,2.9,73.0,호텔,162070.24,152943.0,0,0,0
16797,100_20240831 21,100,20240831 21,26.3,0.0,3.5,73.0,호텔,162070.24,152943.0,0,0,0
16798,100_20240831 22,100,20240831 22,26.0,0.0,3.4,68.0,호텔,162070.24,152943.0,0,0,0
16799,100_20240831 23,100,20240831 23,25.7,0.0,2.9,72.0,호텔,162070.24,152943.0,0,0,0

In [60]:
submit =  pd.read_csv('Data/sample_submission.csv')
submit

         num_date_time  answer
0        1_20240825 00       0
1        1_20240825 01       0
2        1_20240825 02       0
3        1_20240825 03       0
4        1_20240825 04       0
...                ...     ...
16795  100_20240831 19       0
16796  100_20240831 20       0
16797  100_20240831 21       0
16798  100_20240831 22       0
16799  100_20240831 23       0

[16800 rows x 2 columns]

## 일시 정리

In [70]:
def clean_date_type(df):
    df["clean_date"] = pd.to_datetime(df["num_date_time"].str.split("_").str[1],format='%Y%m%d %H')

    # 년/월/일/시간 분리
    df["month"] = df["clean_date"].dt.month
    df["day"] = df["clean_date"].dt.day
    df["hour"] = df["clean_date"].dt.hour
    
    df['태양광용량(kW)'] = pd.to_numeric(df['태양광용량(kW)'], errors='coerce').fillna(0).astype(float)
    df['ESS저장용량(kWh)'] = pd.to_numeric(df['ESS저장용량(kWh)'], errors='coerce').fillna(0).astype(float)
    df['PCS용량(kW)'] = pd.to_numeric(df['PCS용량(kW)'], errors='coerce').fillna(0).astype(float)

    
    del df['clean_date']

clean_date_type(train)
clean_date_type(test)

In [71]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204000 entries, 0 to 203999
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   num_date_time  204000 non-null  object
 1   건물번호           204000 non-null  int64
 2   일시             204000 non-null  object
 3   기온(°C)         204000 non-null  float64
 4   강수량(mm)        204000 non-null  float64
 5   풍속(m/s)        204000 non-null  float64
 6   습도(%)          204000 non-null  float64
 7   일조(hr)         204000 non-null  float64
 8   일사(MJ/m2)      204000 non-null  float64
 9   전력소비량(kWh)     204000 non-null  float64
 10  건물유형           204000 non-null  object
 11  연면적(m2)        204000 non-null  float64
 12  냉방면적(m2)       204000 non-null  float64
 13  태양광용량(kW)      204000 non-null  float64
 14  ESS저장용량(kWh)   204000 non-null  float64
 15  PCS용량(kW)      204000 non-null  float64
 16  month          204000 non-null  int32
 17  day            204000 non-null  int32
 18  hour           204000 non-null  int32
dtypes: float64(12), int32(3), int64(1), object(3)
memory usage: 27.2+ MB

## 파생변수 생성
- 기상 관련(체감온도, 불쾌지수, 냉방도일, 일조 강도/ 일사량 지수)  
- 건물 특성(냉방면적 비율, 태양광 발전 잠재량, 에너지저장장치활용)  
- 시간적 특성(요일/주말, 피크시간대)  
- 종합적 (냉방부하지수, 에너지 자급률)

In [72]:
import numpy as np

def build_features_summer_with_type_cdh(
    df: pd.DataFrame,
    *,
    # 건물유형별 냉방 기준온도(°C) 매핑: 없는 유형은 default_base_c 사용
    cdh_base_map: dict = None,
    default_base_c: float = 26.0,
    peak_hours = (10, 11, 14, 15, 16, 17),
    # 건물번호별 별도 기준온도 우선 적용 (유형보다 우선)
    cdh_base_by_building: dict = None
) -> pd.DataFrame:

    out = df.copy()

    # --- 시간 컬럼 정리 ---
    out['일시'] = pd.to_datetime(out['일시'], errors='coerce')
    out['weekday'] = out['일시'].dt.weekday   # 월=0, 일=6
    out['is_weekend'] = out.get('weekday', 0).isin([5, 6]).astype('int8') if 'weekday' in out.columns else 0
    out['holiday'] = out['일시'].dt.normalize().isin(pd.to_datetime(["2024-06-06", "2024-08-15"])).astype('int8')

    # --- 기초 수치 ---
    T  = out['기온(°C)'].astype(float)
    RH = out['습도(%)'].astype(float).clip(0, 100)
    V  = out['풍속(m/s)'].astype(float)
    rain = out['강수량(mm)'].astype(float).clip(lower=0)

    # --- 건물유형/번호별 냉방 기준온도 결정 (벡터화) ---
    # 1) 유형 매핑으로 기본 설정
    if cdh_base_map is None:
        cdh_base_map = {}  # 사용자가 외부에서 넘겨주도록

    base_from_type = out['건물유형'].map(cdh_base_map).astype(float)
    base = base_from_type.fillna(default_base_c)

    # 2) 건물번호별 오버라이드가 있으면 그것을 최우선 적용
    if cdh_base_by_building:
        # map 후 notna인 곳만 덮어쓰기
        base_override = out['건물번호'].map(cdh_base_by_building).astype(float)
        base = base_override.combine_first(base)

    out['cdh_base_used'] = base  # 실제 사용된 기준온도 기록(디버깅/설명용)

    # --- 여름 핵심 지표 ---
    # 불쾌지수(Thom DI)
    out['DI'] = 0.81*T + 0.01*RH*(0.99*T - 14.3) + 46.3

    # 온습도 지수(THI)
    out['THI'] = (9/5*T) - 0.55*(1 - RH/100.0)*((9/5*T) - 26) + 32

    # 냉방도일(CDH, 시점별) — 유형/건물별 기준온도 적용
    out['CDH'] = (T - out['cdh_base_used']).clip(lower=0)

    # --- 건물 특성/용량 ---
    area = out['연면적(m2)'].replace(0, np.nan)
    cool_area = out['냉방면적(m2)'].replace(0, np.nan)
    pv_kw = out['태양광용량(kW)'].astype(float)
    ess_kwh = out['ESS저장용량(kWh)'].astype(float)
    pcs_kw = out['PCS용량(kW)'].astype(float)

    out['cool_area_ratio'] = (cool_area / area).clip(0, 1)
    out['kWh_per_m2'] = np.nan  # test에는 타깃이 없으니 자리만(학습시 train에서 채워짐)
    out['ess_hours'] = np.where(pcs_kw > 0, ess_kwh / pcs_kw, np.nan)

    # --- 시간/계절성 & 상호작용 ---
    out['is_peak_hour'] = out['hour'].isin(peak_hours).astype('int8')
    out['hour_sin']  = np.sin(2*np.pi*out['hour']/24)
    out['hour_cos']  = np.cos(2*np.pi*out['hour']/24)
    out['month_sin'] = np.sin(2*np.pi*out['month']/12)
    out['month_cos'] = np.cos(2*np.pi*out['month']/12)

    out['is_rain']  = (rain > 0).astype('int8')
    out['T_x_RH']   = T * RH
    out['T2']       = T**2
    out['RH2']      = RH**2
    out['T_x_rain'] = T * out['is_rain']
    out['wind_level'] = pd.cut(V, bins=[-np.inf,1,3,6,10,np.inf], labels=[0,1,2,3,4]).astype(int)

    # --- 종합 냉방부하지수(모델용 지표) ---
    out['cooling_load_index'] = out['DI'] * out['cool_area_ratio'].fillna(0) + out['CDH']

    # --- 건물유형 원-핫 ---
    if '건물유형' in out.columns:
        out = pd.concat([out, pd.get_dummies(out['건물유형'], prefix='btype', dummy_na=False)], axis=1)

    # --- 수치 안정화 ---
    numeric_cols = out.select_dtypes(include=[np.number]).columns
    out[numeric_cols] = out[numeric_cols].replace([np.inf, -np.inf], np.nan)

    return out

In [73]:
# 건물별 평균 실내 기온(예: 센서값 있거나 추정 가능)
building_avg_temp = train.groupby("건물번호")["기온(°C)"].mean()

# 기준온도 = 평균값 - 2
cdh_base_by_building = (building_avg_temp - 2).to_dict()

train_fe = build_features_summer_with_type_cdh(
    train,
    default_base_c=26.0,
    cdh_base_by_building=cdh_base_by_building
)
test_fe = build_features_summer_with_type_cdh(
    test,
    default_base_c=26.0,
    cdh_base_by_building=cdh_base_by_building
)

In [75]:
train_fe.shape, test_fe.shape

((204000, 51), (16800, 48))

In [76]:
train_fe.columns, test_fe.columns

(Index(['num_date_time', '건물번호', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)',
        '일조(hr)', '일사(MJ/m2)', '전력소비량(kWh)', '건물유형', '연면적(m2)', '냉방면적(m2)',
        '태양광용량(kW)', 'ESS저장용량(kWh)', 'PCS용량(kW)', 'month', 'day', 'hour',
        'weekday', 'is_weekend', 'holiday', 'cdh_base_used', 'DI', 'THI', 'CDH',
        'cool_area_ratio', 'kWh_per_m2', 'ess_hours', 'is_peak_hour',
        'hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'is_rain', 'T_x_RH',
        'T2', 'RH2', 'T_x_rain', 'wind_level', 'cooling_load_index',
        'btype_IDC(전화국)', 'btype_건물기타', 'btype_공공', 'btype_백화점', 'btype_병원',
        'btype_상용', 'btype_아파트', 'btype_연구소', 'btype_학교', 'btype_호텔'],
       dtype='object'),
 Index(['num_date_time', '건물번호', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)',
        '건물유형', '연면적(m2)', '냉방면적(m2)', '태양광용량(kW)', 'ESS저장용량(kWh)', 'PCS용량(kW)',
        'month', 'day', 'hour', 'weekday', 'is_weekend', 'holiday',
        'cdh_base_used', 'DI', 'THI', 'CDH', 'cool_area_ratio', 'kWh_per_m2',
        'ess_hours', 'is_peak_hour', 'hour_sin', 'hour_cos', 'month_sin',
        'month_cos', 'is_rain', 'T_x_RH', 'T2', 'RH2', 'T_x_rain', 'wind_level',
        'cooling_load_index', 'btype_IDC(전화국)', 'btype_건물기타', 'btype_공공',
        'btype_백화점', 'btype_병원', 'btype_상용', 'btype_아파트', 'btype_연구소',
        'btype_학교', 'btype_호텔'],
       dtype='object'))

In [77]:
# 가능하다면 평균적 일조/일사량을 test에 적용해볼것.
train_fe.to_csv('Data/train_0820.csv',index = False)
test_fe.to_csv('Data/test_0820.csv',index = False)