In [1]:
import pandas as pd

TRAIN_PATH = "Data/train_0822_changed.csv"
TEST_PATH  = "Data/test_0822_changed.csv"
SUB_PATH   = "Data/sample_submission.csv"

train = pd.read_csv(TRAIN_PATH)
test  = pd.read_csv(TEST_PATH)
sub   = pd.read_csv(SUB_PATH)

In [7]:
train[['건물유형','cluster_id']]

       건물유형  cluster_id
0        호텔           2
1        호텔           2
2        호텔           2
3        호텔           2
4        호텔           2
...     ...         ...
203995   호텔           0
203996   호텔           0
203997   호텔           0
203998   호텔           0
203999   호텔           0

[204000 rows x 2 columns]

In [8]:
train.groupby(['건물유형','cluster_id'])['일시'].count()

건물유형      cluster_id
IDC(전화국)  0              2040
          1              8160
          2              2040
          3              2040
          6              4080
건물기타      0              6120
          4              2040
          8              2040
          10             6120
          11             4080
공공        0             12240
          10             4080
백화점       0              4080
          5              4080
          7              2040
          10            12240
          11            10200
병원        0              6120
          4              4080
          9              2040
          11             6120
상용        0              4080
          2              2040
          4              4080
          10             6120
          11             4080
아파트       0              8160
          10             8160
          11             2040
연구소       0              8160
          10             2040
          11             8160
학교        0              6120
          2              2040
          4              6120
          8              2040
          10             4080
호텔        0              8160
          2              2040
          8              4080
          10             4080
          11             2040
Name: 일시, dtype: int64

In [30]:
GROUP_COL = "train_group4"

def build_group5(df: pd.DataFrame) -> pd.Series:
    if "건물유형" not in df.columns or "cluster_id" not in df.columns:
        raise ValueError("건물유형/cluster_id 컬럼이 필요합니다.")
    
    grp = []
    for typ, cid in zip(df["건물유형"], df["cluster_id"]):
        if (cid == 10) & (typ == '백화점'):
            grp.append("백화점10")
        elif (cid == 11) & (typ == '백화점'):
            grp.append("백화점11")
        else:
            grp.append(str(typ))  # 건물유형 그대로
    return pd.Series(grp, index=df.index, dtype="object")

train[GROUP_COL] = build_group5(train)
test [GROUP_COL] = build_group5(test)

print(train[GROUP_COL].value_counts())

train_group4
호텔          20400
상용          20400
학교          20400
건물기타        20400
병원          18360
아파트         18360
연구소         18360
IDC(전화국)    18360
공공          16320
백화점10       12240
백화점         10200
백화점11       10200
Name: count, dtype: int64

In [31]:
train.to_csv('Data/train_0822_changed.csv',index = False)
test.to_csv('Data/test_0822_changed.csv',index = False)