In [11]:
import warnings
warnings.filterwarnings('ignore')

import koreanize_matplotlib

# DATA 작년 수상작 형태로 변환

hour, dat, month, day_of_week,  
buildin*month&day 따른 day 별 max, mean temp  
holiday  
sin/cos of hour, date, month, dayofweek  
--> cdh,THI, WCT  ??
day_hour_mean, day_hour_std  
hour_mean, hour_std

## DATA 파생변수 생성

In [1]:
import pandas as pd

train = pd.read_csv('Data/train_c20729.csv')
train

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),...,요일_cos,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW),월,일,월_sin,월_cos
0,"['1_20240601', '00']",1,2024-06-01 00:00:00,18.3,0.0,2.6,82.0,0.0,0.00,5794.80,...,-0.222521,82912.71,77586.0,0.0,0.0,0.0,0,1,0.0,1.0
1,"['1_20240601', '01']",1,2024-06-01 01:00:00,18.3,0.0,2.7,82.0,0.0,0.00,5591.85,...,-0.222521,82912.71,77586.0,0.0,0.0,0.0,0,1,0.0,1.0
2,"['1_20240601', '02']",1,2024-06-01 02:00:00,18.1,0.0,2.6,80.0,0.0,0.00,5338.17,...,-0.222521,82912.71,77586.0,0.0,0.0,0.0,0,1,0.0,1.0
3,"['1_20240601', '03']",1,2024-06-01 03:00:00,18.0,0.0,2.6,81.0,0.0,0.00,4554.42,...,-0.222521,82912.71,77586.0,0.0,0.0,0.0,0,1,0.0,1.0
4,"['1_20240601', '04']",1,2024-06-01 04:00:00,17.8,0.0,1.3,81.0,0.0,0.00,3602.25,...,-0.222521,82912.71,77586.0,0.0,0.0,0.0,0,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,"['100_20240824', '19']",100,2024-08-24 19:00:00,29.1,0.0,4.4,76.0,0.4,0.18,3276.00,...,-0.222521,162070.24,152943.0,0.0,0.0,0.0,0,24,0.0,1.0
203996,"['100_20240824', '20']",100,2024-08-24 20:00:00,28.6,0.0,3.7,74.0,0.0,0.00,3197.52,...,-0.222521,162070.24,152943.0,0.0,0.0,0.0,0,24,0.0,1.0
203997,"['100_20240824', '21']",100,2024-08-24 21:00:00,28.3,0.0,2.9,74.0,0.0,0.00,3006.60,...,-0.222521,162070.24,152943.0,0.0,0.0,0.0,0,24,0.0,1.0
203998,"['100_20240824', '22']",100,2024-08-24 22:00:00,28.0,0.0,1.7,76.0,0.0,0.00,2649.72,...,-0.222521,162070.24,152943.0,0.0,0.0,0.0,0,24,0.0,1.0
203999,"['100_20240824', '23']",100,2024-08-24 23:00:00,28.0,0.0,2.1,75.0,0.0,0.00,2929.32,...,-0.222521,162070.24,152943.0,0.0,0.0,0.0,0,24,0.0,1.0

In [15]:
test = pd.read_csv('Data/test_c20729.csv')
test

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),건물유형,연면적(m2),냉방면적(m2),...,월,일,시간,요일,시간_sin,시간_cos,요일_sin,요일_cos,월_sin,월_cos
0,1_20240825 00,1,2024-08-25 00:00:00,26.5,0.0,0.7,80.0,호텔,82912.71,77586.0,...,8,25,0,6,0.000000,1.000000,-0.781831,0.623490,-0.866025,-0.5
1,1_20240825 01,1,2024-08-25 01:00:00,26.1,0.0,0.0,80.0,호텔,82912.71,77586.0,...,8,25,1,6,0.258819,0.965926,-0.781831,0.623490,-0.866025,-0.5
2,1_20240825 02,1,2024-08-25 02:00:00,25.9,0.0,0.3,83.0,호텔,82912.71,77586.0,...,8,25,2,6,0.500000,0.866025,-0.781831,0.623490,-0.866025,-0.5
3,1_20240825 03,1,2024-08-25 03:00:00,25.7,0.0,1.1,83.0,호텔,82912.71,77586.0,...,8,25,3,6,0.707107,0.707107,-0.781831,0.623490,-0.866025,-0.5
4,1_20240825 04,1,2024-08-25 04:00:00,25.5,0.0,1.0,86.0,호텔,82912.71,77586.0,...,8,25,4,6,0.866025,0.500000,-0.781831,0.623490,-0.866025,-0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100_20240831 19,100,2024-08-31 19:00:00,27.1,0.0,2.7,68.0,호텔,162070.24,152943.0,...,8,31,19,5,-0.965926,0.258819,-0.974928,-0.222521,-0.866025,-0.5
16796,100_20240831 20,100,2024-08-31 20:00:00,26.5,0.0,2.9,73.0,호텔,162070.24,152943.0,...,8,31,20,5,-0.866025,0.500000,-0.974928,-0.222521,-0.866025,-0.5
16797,100_20240831 21,100,2024-08-31 21:00:00,26.3,0.0,3.5,73.0,호텔,162070.24,152943.0,...,8,31,21,5,-0.707107,0.707107,-0.974928,-0.222521,-0.866025,-0.5
16798,100_20240831 22,100,2024-08-31 22:00:00,26.0,0.0,3.4,68.0,호텔,162070.24,152943.0,...,8,31,22,5,-0.500000,0.866025,-0.974928,-0.222521,-0.866025,-0.5
16799,100_20240831 23,100,2024-08-31 23:00:00,25.7,0.0,2.9,72.0,호텔,162070.24,152943.0,...,8,31,23,5,-0.258819,0.965926,-0.974928,-0.222521,-0.866025,-0.5

In [3]:
train.drop(['num_date_time','일자'],axis=1, inplace = True)

In [4]:
train.columns

Index(['건물번호', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '일조(hr)',
       '일사(MJ/m2)', '전력소비량(kWh)', '건물유형', '시간', '요일', '시간_sin', '시간_cos',
       '요일_sin', '요일_cos', '연면적(m2)', '냉방면적(m2)', '태양광용량(kW)', 'ESS저장용량(kWh)',
       'PCS용량(kW)', '월', '일', '월_sin', '월_cos'],
      dtype='object')

In [5]:
train = train[['건물유형', '건물번호', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '일조(hr)', '일사(MJ/m2)',
       '전력소비량(kWh)', '연면적(m2)', '냉방면적(m2)', '태양광용량(kW)', 'ESS저장용량(kWh)',
       'PCS용량(kW)', '일시', '월', '일', '요일', '시간', '월_sin', '월_cos', 
               '요일_sin', '요일_cos', '시간_sin', '시간_cos']]

In [16]:
import numpy as np

# 일의 사인/코사인
train['일_sin'] = np.sin(2 * np.pi * train['일'] / 31)
train['일_cos'] = np.cos(2 * np.pi * train['일'] / 31)

test['일_sin'] = np.sin(2 * np.pi * test['일'] / 31)
test['일_cos'] = np.cos(2 * np.pi * test['일'] / 31)

In [21]:
train.shape, test.shape

((204000, 31), (16800, 29))

### 건물 종류에 따라서 타겟인코딩 시키자 min/max 값으로

In [8]:
train['건물유형_max'] = train.groupby('건물유형')['전력소비량(kWh)'].transform('max')
train['건물유형_mean'] = train.groupby('건물유형')['전력소비량(kWh)'].transform('mean')

/var/folders/7x/ckht72xn7276hfpwcr1r7vwr0000gn/T/ipykernel_13396/1335889729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['건물유형_max'] = train.groupby('건물유형')['전력소비량(kWh)'].transform('max')
/var/folders/7x/ckht72xn7276hfpwcr1r7vwr0000gn/T/ipykernel_13396/1335889729.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['건물유형_mean'] = train.groupby('건물유형')['전력소비량(kWh)'].transform('mean')

In [18]:
# test만 merge로 생성 (train에는 merge 금지)
test = test.merge(
    train.groupby(['건물유형'])['전력소비량(kWh)']
         .agg(건물유형_max='max', 건물유형_mean='mean')
         .reset_index(),
    on=['건물유형'], how='left'
)

### 건물 종류와 번호에 따라서도 타겟 인코딩

In [12]:
train['건물번호_max'] = train.groupby(['건물유형','건물번호'])['전력소비량(kWh)'].transform('max')
train['건물번호_mean'] = train.groupby(['건물유형','건물번호'])['전력소비량(kWh)'].transform('mean')

In [20]:
# test만 merge로 생성 (train에는 merge 금지)
test = test.merge(
    train.groupby(['건물유형','건물번호'])['전력소비량(kWh)']
         .agg(건물번호_max='max', 건물번호_mean='mean')
         .reset_index(),
    on=['건물유형','건물번호'], how='left'
)

### holiday컬럼 추가

In [22]:
train['holiday'] = 0
test['holiday'] = 0
train[['일시','holiday']]

                         일시  holiday
0       2024-06-01 00:00:00        0
1       2024-06-01 01:00:00        0
2       2024-06-01 02:00:00        0
3       2024-06-01 03:00:00        0
4       2024-06-01 04:00:00        0
...                     ...      ...
203995  2024-08-24 19:00:00        0
203996  2024-08-24 20:00:00        0
203997  2024-08-24 21:00:00        0
203998  2024-08-24 22:00:00        0
203999  2024-08-24 23:00:00        0

[204000 rows x 2 columns]

In [23]:
train[train['일시'] == '2024-06-06 00:00:00']['holiday'] = 1
train[train['일시'] == '2024-08-15 00:00:00']['holiday'] = 1

In [24]:
#건물유형, 종류, 번호, 요일, 시간 min max
train['num/day/time_max'] = train.groupby(['건물유형','건물번호','요일','시간'])['전력소비량(kWh)'].transform('max')
train['num/day/time_mean'] = train.groupby(['건물유형','건물번호','요일','시간'])['전력소비량(kWh)'].transform('mean')

In [25]:
# test만 merge로 생성 (train에는 merge 금지)
test = test.merge(
    train.groupby(['건물유형','건물번호','요일','시간'])['전력소비량(kWh)']
         .agg(num_day_time_max='max', num_day_time_mean='mean')
         .reset_index(),
    on=['건물유형','건물번호','요일','시간'], how='left'
)

In [31]:
train.shape, test.shape

((204000, 34), (16800, 33))

In [27]:
# 0) 안전 복사
test = test.copy()

# 1) 중복 키(시간/요일) 통일: 우선순위는 *_y -> *_x -> 원본
def coalesce_cols(df, targets, new_name):
    for c in targets:
        if c in df.columns:
            df[new_name] = df[new_name] if new_name in df.columns else df[c]
            df.loc[df[new_name].isna(), new_name] = df[c]
    # 원본 열들 제거
    for c in targets:
        if c in df.columns:
            df.drop(columns=c, inplace=True, errors='ignore')

# 시간/요일 합치기: 시간, 요일로 최종 통일
coalesce_cols(test, ['시간_y','시간_x','시간'], '시간')
coalesce_cols(test, ['요일_y','요일_x','요일'], '요일')

# 2) 건물유형 통계 중복 통일: *_y 우선, 없으면 *_x
def coalesce_pair(df, left, right, new):
    a = df[left] if left in df.columns else None
    b = df[right] if right in df.columns else None
    if a is not None and b is not None:
        df[new] = b.fillna(a)
    elif b is not None:
        df[new] = b
    elif a is not None:
        df[new] = a
    # 원본 제거
    for c in [left, right]:
        if c in df.columns:
            df.drop(columns=c, inplace=True, errors='ignore')

coalesce_pair(test, '건물유형_max_x',  '건물유형_max_y',  '건물유형_max')
coalesce_pair(test, '건물유형_mean_x', '건물유형_mean_y', '건물유형_mean')

# 3) 슬래시 있는 이름은 파이프라인 안정성을 위해 언더스코어로(필요 시)
if 'num/day/time_max' in test.columns:
    test.rename(columns={'num/day/time_max':'num_day_time_max'}, inplace=True)
if 'num/day/time_mean' in test.columns:
    test.rename(columns={'num/day/time_mean':'num_day_time_mean'}, inplace=True)

# 4) holiday 타입 train과 맞추기 (train이 bool이면 bool로)
if 'holiday' in test.columns and 'holiday' in train.columns:
    if pd.api.types.is_bool_dtype(train['holiday']) and not pd.api.types.is_bool_dtype(test['holiday']):
        # 0/1, int, float → bool 변환
        test['holiday'] = test['holiday'].astype('float').fillna(0).astype('int').astype('bool')

# 5) 불필요/중복 유사 컬럼 정리(있으면 제거)
drop_candidates = [
    '시간_x','시간_y','요일_x','요일_y',
    '건물유형_max_x','건물유형_max_y',
    '건물유형_mean_x','건물유형_mean_y'
]
test.drop(columns=[c for c in drop_candidates if c in test.columns], inplace=True, errors='ignore')

# 6) 최종 컬럼 집합 맞추기 (타깃 제외)
TARGET = '전력소비량(kWh)'
train_features = train.drop(columns=[TARGET])
# test에 없는 열은 생성해서 채우고, 있는 열은 그대로 사용
for col in train_features.columns:
    if col not in test.columns:
        # 기본 결측 채움 규칙: 수치=0, 범주형='unknown', bool=False
        if pd.api.types.is_numeric_dtype(train_features[col]):
            test[col] = 0
        elif pd.api.types.is_bool_dtype(train_features[col]):
            test[col] = False
        else:
            test[col] = 'unknown'

# train에는 없는데 test에만 있는 열은 버림
extra_cols = [c for c in test.columns if c not in train_features.columns]
test.drop(columns=extra_cols, inplace=True, errors='ignore')

# 7) 순서까지 train과 동일하게
test = test[train_features.columns]

# --- 확인용 출력 ---
print("정렬 후 차이(있으면 안 됨):")
print("train-only :", set(train_features.columns) - set(test.columns))
print("test-only  :", set(test.columns) - set(train_features.columns))
print(test.dtypes.head(20))

정렬 후 차이(있으면 안 됨):
train-only : set()
test-only  : set()
건물유형             object
건물번호              int64
기온(°C)          float64
강수량(mm)         float64
풍속(m/s)         float64
습도(%)           float64
일조(hr)            int64
일사(MJ/m2)         int64
연면적(m2)         float64
냉방면적(m2)        float64
태양광용량(kW)       float64
ESS저장용량(kWh)    float64
PCS용량(kW)       float64
일시               object
월                 int64
일                 int64
요일                int64
시간                int64
월_sin           float64
월_cos           float64
dtype: object

In [28]:
# 저장
train.to_csv('Data/train_0809.csv',index = False)
test.to_csv('Data/test_0809.csv',index = False)

In [29]:
train.columns

Index(['건물유형', '건물번호', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '일조(hr)',
       '일사(MJ/m2)', '전력소비량(kWh)', '연면적(m2)', '냉방면적(m2)', '태양광용량(kW)',
       'ESS저장용량(kWh)', 'PCS용량(kW)', '일시', '월', '일', '요일', '시간', '월_sin',
       '월_cos', '요일_sin', '요일_cos', '시간_sin', '시간_cos', '일_sin', '일_cos',
       '건물유형_max', '건물유형_mean', '건물번호_max', '건물번호_mean', 'holiday',
       'num/day/time_max', 'num/day/time_mean'],
      dtype='object')

In [30]:
test.columns

Index(['건물유형', '건물번호', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '일조(hr)',
       '일사(MJ/m2)', '연면적(m2)', '냉방면적(m2)', '태양광용량(kW)', 'ESS저장용량(kWh)',
       'PCS용량(kW)', '일시', '월', '일', '요일', '시간', '월_sin', '월_cos', '요일_sin',
       '요일_cos', '시간_sin', '시간_cos', '일_sin', '일_cos', '건물유형_max', '건물유형_mean',
       '건물번호_max', '건물번호_mean', 'holiday', 'num/day/time_max',
       'num/day/time_mean'],
      dtype='object')

# 추가 기상 지표

In [ ]:
def CDH(xs): #Cooling Degree Hours
    cumsum = np.cumsum(xs - 26)
    return np.concatenate((cumsum[:11], cumsum[11:] - cumsum[:-11]))
def calculate_and_add_cdh(dataframe):
    cdhs = []
    for i in range(1, 101):  # 건물 번호 1~100까지 반복
        temp = dataframe[dataframe['building_number'] == i]['temperature'].values
        cdh = CDH(temp)
        cdhs.append(cdh)
    return np.concatenate(cdhs)

#THI 불쾌지수
train['THI'] = 9/5*train['temperature'] - 0.55*(1-train['humidity']/100)*(9/5*train['humidity']-26)+32

#풍속과 체감온도
train['WCT'] = 13.12 + 0.6125*temperature - 11.37*(windspeed**0.16) + 0.3965*(windspeed**0.16)*temperature